@font-face {
  font-family: "cooper-ligt";
  src: url(../src/assets/font/CooperHewitt-Light.otf); 

  font-family: "cooper-medium";
  src: url(../src/assets/font/cooper-hewitt.book.otf);

  font-family: "cooper-bold";
  src:url(../src/assets/font/CooperHewitt-Semibold.otf);

}

html {
  scroll-behavior: smooth;
  
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


